# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
**/obj/*
**/bin/*
!.nuget/

# Visual Studio Code files
.vscode/
.history/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# Configuration files
appsettings*.json
*.env

# Other files
*.dbmdl
*.dbproj.schemaview
*.jfm
*.jfm.lock
